header{
    width: 100%;
    border-bottom: 1px solid #190e22;
    display: flex;
    justify-content: center;
}
header>div{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 50px;
    align-items: center;
}
header div:nth-child(2){
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px;
    align-items: center;
    justify-content: right;
}
header h1{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}


main{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 407px 400px;
    grid-template-rows: 500px;
    align-items: center;
    justify-content: space-evenly;
}
.sudokuBoardBox{
    display: grid;
    grid-template-columns: 407px;
    grid-template-rows: 50px 407px;
}
.actionButtons{
    display: grid;
    grid-template-rows:35px;
    grid-template-columns: 70px 130px;
    align-content: center;
    justify-content: space-between;
}
.actionButtons button{
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
#reset{
    background-color: red;
}
#restart{
    background-color: green;
}



.board table{
    border: 3px solid silver;
    border-collapse: collapse;
}

.board table tbody tr td{
    border: 1px solid silver;
    width: 45px; 
    height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.board table tbody tr:nth-child(3),
.board table tbody tr:nth-child(6){
    border-bottom: 2px solid black;
}
.board table tbody tr td:nth-child(3),
.board table tbody tr td:nth-child(6){
    border-right: 2px solid black;
}
/* .board table tbody tr td:hover{
    background-image:linear-gradient(to left,silver, silver);
    cursor: pointer;
} */

.board table tbody tr td.nonEmpty{
    background-image: linear-gradient(to right, #42275a , #734b6d);
    color: white;
}

.board table tbody tr td.redAlert{
    background-image: linear-gradient(to right, red , red);
    color: white;
}
.board table tbody tr td.backWhite{
    background-image: linear-gradient(to right, white , white);
    color: black;
}
.board table tbody tr td.backWhite:hover{
    background-image: linear-gradient(to right, silver , silver);
    color: black;
}
.board table tbody tr td.backWhite:focus-within{
    background-image: linear-gradient(to right, silver , silver);
    color: black;
}
/* .board table tbody tr td.backWhite:hover{
    background-image:linear-gradient(yo right,silver,silver);
     cursor: pointer; 
} */
#backWhite:focus-within{
    background: silver;
}
#backWhite{
    background-image: linear-gradient(to right, white , white);
    color: black;
}

#nonEmpty{
    background-image: linear-gradient(to right, #42275a , #734b6d);
    color: white;
}
#redAlert{
    background-image: linear-gradient(to right, red , red);
    color: black;
}







button:hover{
    cursor: pointer;
}





.buttons{
    border-radius: 5px;
    width: 160px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3,45px);
    grid-template-rows: repeat(4,40px);
    justify-content: center;
    align-content: center;
    gap: 5px;
    margin: 10px 0px 0px 0px;
}
.buttons button{
    border: none;
    background-color: #D8D8D8;
    background-color: silver;
    border: 1px solid #8800e7;
    box-shadow: 5px 5px 5px black;
    color: #42275a;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.3s;
}
#check{
    width: 148px;
}
#count{
    width: 148px;
    background-color: red;
    border: 1px solid black;
    color: white;
}
.buttons button:hover{
    background-image: linear-gradient(to right, #42275a , #734b6d);
    border: 1px solid white;
    color: white;
}


@media screen and (max-width:330px){
    body{
        height: fit-content;
    }
    header>div {
        grid-template-columns: 110px 190px;
        align-items: center;
        justify-items: center;
    }
    header h1{
        font-size: 13px;
    }
    header div:nth-child(2) {
        display: grid;
        grid-template-columns: 50px 50px;
        justify-content: right;
        justify-items: right;
    }
    main {
        margin: 0px auto;
        border: 1px solid black;
        padding: 10px;
        display: grid;
        grid-template-columns: 312px;
        grid-template-rows: 360px 180px;
        align-items: center;
        justify-content: space-evenly;
    }
    .sudokuBoardBox {
        display: grid;
        grid-template-columns: 290px;
        grid-template-rows: 35px 330px;
        justify-content: center;
    }
    .actionButtons {
        display: grid;
        grid-template-rows: 25px;
        grid-template-columns: 60px 90px;
        align-content: center;
        justify-content: space-around;
    }
    .board table tbody tr td {
        border: 1px solid silver;
        width: 35px;
        height: 35px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    .buttons {
        border-radius: 5px;
        width: 290px;
        height: 186px;
        display: grid;
        grid-template-columns: repeat(4,35px);
        grid-template-rows: repeat(4,35px);
        justify-content: center;
        align-content: center;
        gap: 5px;
        margin: 0px 0px 0px 0px;
    }
    #check,#count {
        width: 115px;
    }
}